:root {
	--box: #231C5588;
}

body {
  /*background-color: #1B123E;*/
  color: #fff;
  font-family: Segoe UI;
  font-weight: lighter;
  letter-spacing: 0.3px;
  transition: 0.3s;
  margin: 0;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

h1 {
  font-weight: normal;
  font-size: 200%;
  margin: 0;
  font-weight: lighter;
  text-align: center;
  padding: 6px 20px;
}

.empty {
	padding-top: 10px;
	width: -webkit-fill-available;
    background-color: var(--box);
    border-radius: 20px 20px 0px 0px;
    font-weight: bold;
    color: #b7f4;
}

.flex {	
	display: flex;
}
.bg {
    background-color: #1B123E;
}

#drop-screen {
  margin-top: 20em;
}
#data-screen {
  padding-top: 1em;
}

.box {
  /*border: 2px dashed #666;*/
  border-radius: 20px 0px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  transition: 0.3s;
  margin-bottom: 20px;

  background-color: var(--box);
}

#drop-area {
	margin-left: auto;
	margin-right: auto;
}
.drop-limit {
	margin-left: auto;
	margin-right: auto;

	text-align: center;
}


#drop-area.highlight {
  border-color: #3b5;
}
p {
  margin-top: 0;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
	font-size: 200%;
	font-weight: lighter;
	color: #bfa6e9;
	vertical-align: middle;
	display: table-cell;
	padding: 10px;
	border: 1px dashed #956CDB;
	background: none;
	cursor: pointer;
	border-radius: 5px;
	width: 1200px;
	height: 5em;
	margin: 0px 20px;
	transition: 0.5s;
    animation: glowing 4000ms infinite;
}

@keyframes glowing {
  0%   { box-shadow: 0 0 3px #7756af; }
  40%  { box-shadow: 0 0 20px #b498e5; }
  80%  { box-shadow: 0 0 3px #7756af; }
  100% { box-shadow: 0 0 3px #7756af; }
}
.button:hover {
  background: #a57CeB;
}
#fileElem {
  display: none;
}

#chat-form {
  display: grid;
  background-color: #1B123E;
  padding: 5px;
}


.chat-line { 
  background-color: #1B123E;
  cursor: text;
  font-family: Segoe UI;
  font-size: 20px;
  font-weight: normal;
  padding: 0px 6px;
  border: none;
  color: white;
  /*letter-spacing: 1px;*/
  transition: 0.2s;
  border-left: 5px solid #333;
}


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  margin: auto 1%;
}

.small {
	width: 35%
}
.big {
	width: 60%
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
  .column {
    width: 100%;
    margin: 0;
  }
}

.color-0 {color: #000;}
.color-1 {color: #00a;}
.color-2 {color: #0a0;}
.color-3 {color: #0aa;}
.color-4 {color: #a00;}
.color-5 {color: #a0a;}
.color-6 {color: #fa0;}
.color-7 {color: #aaa;}
.color-8 {color: #555;}
.color-9 {color: #55f;}
.color-a {color: #5f5;}
.color-b {color: #5ff;}
.color-c {color: #f55;}
.color-d {color: #f5f;}
.color-e {color: #ff5;}
.color-f {color: #fff;}
.color-l {font-weight: bold;}

.error {
  background-color: #933;
  padding-left: 8px;
  padding-right: 8px;
  color: #fff;
  transition: 0.5s;
}

.err {
	font-weight: lighter;
	border-color: #c55;
	border-left-style: dotted;
}

.chat-line:focus {
  outline: none;
  border-left: 5px solid #c82;
  transition: 0.2s;
}


.error:before {            
    position : absolute;
     content : attr(tooltip);
     opacity : 0;
  transition: 0.4s;
}

.error:hover:before {        
    opacity : 1;
  background-color: #933;
  width: 40rem;
  transition: 0.4s;
}

.profile-avatar-img {
    width: 8rem;
    height: 8rem;
    -o-object-fit: cover;
    object-fit: cover;
}

.profile-question {
	font-size: 96px;
	font-weight: bolder;
	position: absolute;
	vertical-align: center;
	line-height: 0;
	align-content: center;
	align-items: center;
	text-align: center;
	transform: translateX(45px) translateY(-75px);
}

@media (min-width: 768px) {
	.profile-second-layer {
		background-position: -40px -8px;
		position: absolute;
		width: 8px;
		height: 8px;
		image-rendering: -moz-crisp-edges;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: pixelated;
		transform: translateX(60px) translateY(-72px) scale(18);
	}
}